* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

html,body {
  height: 100%;
}

body {
  background-color: #eee;
}

.icon {
  width: 1em; 
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.icon:hover {
  font-size: 35px;
  margin-top: -3px;
}

.page {
  display: flex;
  justify-content: center;
  height: 100%;
}

.wrap {
  width: 340px;
  height: 260px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0px 16px 3px -10px rgba(0,0,0,0.2);
  background: #eee;
  position: relative;
}

.header {
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.header > .volume > .changeVol {
  display: none;
}

.header > .buttons {
  width: 70px;
  margin-left: 10px;
  display: flex;
}

.header > .buttons > .icon {
  flex: 1;
  margin-top: 6px;
  cursor: pointer;
  font-size: 24px;
}

.header > .buttons > .icon:hover {
  font-size: 30px;
  margin-top: 3px;
}

.header > .volume {
  display: flex;
}

.header > .volume > .vols{
  height: 60px;
  display: none;
  flex-direction: column; 
  justify-content: space-between;
  background: #c1c1c1;
  margin-top: -27px;
  margin-right: 5px;
  cursor: pointer;
}

.header > .volume > .vols > li,
.header > .volume > .vol > li {
  width: 20px;
  height: 10px;
  background: #ffc1c1;
  border: 1px solid #c1c1c1;
}

.header > .volume > .vols > .active,
.header > .volume > .vol > .active {
  background: #c1c1c1;
}

.header > .volume > .vol {
  height: 30px;
  display: none;
  flex-direction: column; 
  justify-content: flex-start;
  cursor: pointer;
  margin-top: 3px;
  margin-right: 5px;
}

.header > .volume > .active {
  display: flex;
}

.introduce {
  height: 35px;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.introduce > p {
  opacity: .7;
  user-select: none;
  flex: 1;
  text-align: center;
}

.introduce > .tabL,
.introduce > .tabR {
  cursor: pointer;
  font-size: 24px;
}

.introduce > .tabL:hover,
.introduce > .tabR:hover {
  opacity: .9;
  margin-top: 0;
}

.introduce > .active {
  font-size: 18px;
  font-weight: bold;
  margin-top: -1px;
  opacity: 1;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  height: 150px;
}

.main > .img {
  width: 85px;
  height: 85px;
  margin: 10px 0 0 10px;
}

.main > .img > img {
  width: 85px;
  height: 85px;
  box-shadow: 3px 4px 6px -1px grey;
}

.main > .control {
  flex: 1;
  margin: 10px 0 70px 20px;
}

.main > .control > .song,
.main > .control > .singer {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main > .control > .time {
  float: right;
  margin-right: 10px;
  margin-top: -21px;
  user-select: none;
}

.main > .control > .process {
  position: relative;
}

.main > .control > .process > .bar {
  width: 200px;
  height: 5px;
  background: #c1c1c1;
  border-radius: 5px;
  margin-top: 15px;
}

.main > .control > .process > .barPro {
  width: 0;
  height: 5px;
  background: #ffc1c1;
  border-radius: 5px;
  position: absolute;
}

.main > .control > .process > .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffc1c1;
  position: absolute;
  top: -5px;
  cursor: pointer;
}

.main > .control > .process > .active {
  box-shadow: 0px 0px 10px black;
}

.main > .control > .process > .dot:hover {
  box-shadow: 0px 0px 10px black;
}

.main > .control > .power {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-right: 10px;
}

.voteR {
  color: red;
}

.main > .control > .power > svg {
  width: 35px;
}

.main > .control > .power > .active {
  display: none;
}

footer > p {
  width: 300px;
  height: 30px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  text-shadow: 0px 2px 5px;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.saveList {
  width: 338px;
  height: 300px;
  border: 1px solid #c1c1c1;
  border-left: 0;
  border-right: 0;
  overflow: auto;
  box-shadow: 0px 10px 10px -3px #c1c1c1;
  display: none;
  position: absolute;
  top: 260px;
  border-radius: 8px;
  background: #eee;
}


.saveList > p {
  width: 340px;
  border-bottom: 1px solid #c1c1c1;
  text-align: center;
  position: fixed;
  background: #eee;
}

.songList  {
  margin-top: 30px;
}

.songList > li {
  margin: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.1);
  overflow: hidden;
  white-space: nowra;
}

.lrcScroll {
  display: none;
  width: 340px;
  height: 560px;
  margin-top: 30px;
  position: relative;
  background: #eee;
  border-radius: 8px;
  box-shadow: inset 0px 0px 4px 1px #c1c1c1;
}

.show {
  display: block;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cover {
  background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1505624246&di=f9ba36089ffa8f66c9020837b247da9f&src=http://pic2.ooopic.com/11/01/67/74b1OOOPIC47.jpg) center center no-repeat;
  background-size: auto 100%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: -305px;
  animation: circle 20s infinite linear;
  animation-play-state: paused;
  transition: all .5s;
  box-shadow: 0px 0px 40px -10px black; 
}

.cover.playing {
  animation-play-state: running;
}

.lrcScroll > .view {
  height: 65%;
  overflow: hidden;
  position: relative;
  margin: 30px 20px 0 20px;
}

.lrcScroll > .view > .showLrc {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 210px;
  transition: .3s;
}

.lrcScroll > .view > .showLrc > p {
  height: 42px;
  color: #c1c1c1;
  text-shadow: 1px 2px 2px #fff;
}

.lrcScroll > .view > .showLrc > .active {
  color: #333;
}

.author {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

.author > div {
  visibility: hidden;
} 

.author:hover div{
  visibility: visible;
}

.author a:hover {
  color: #ffc1c1;
}
